<div class="bg-primary text-white px-3 py-3">
    <p class="float-right text-white"><a href="#" class="text-white">Back to top</a></p>
    <p>© 2017-2018 PPW Survivor, Inc.</p>
    <p>The best among you are those who bring greatest benefits to many others.</p>
</nav>
