<nav class="sticky-top navbar navbar-expand-sm navbar-light bg-primary">
    <a class="navbar-brand text-white">KumpulDonasi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav ml-auto mr-2">
            <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'dashboard' %}">Beranda</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'news:news' %}">Berita</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'donation_form' %}">Donasi</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'about' %}">About</a>
            </li>
        </ul>
        <a class="nav-link text-white disable" href="">|</a>
        {% if user.is_authenticated %}    
            <a class="nav-link text-white" href="{% url 'profil:profil' %}">Hello, {{user}}!</a>
            <a class="btn btn-outline-light" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a class="btn btn-outline-light" href="{% url 'social:begin' 'google-oauth2' %}">Login</a>
        {% endif %}
    </div>
</nav>
