{% extends 'base.html' %}
{%load static%}
{% block content %}
        <div class="container">
            <div class="row main">
                <div class="main-login main-center bg-primary text-white">
                    <h1 class = "display-4">Sumbangkan sebagian uang kalian bersama kami!</h1>
                    <form class="mt-5" id = "new_donation"> 
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputProgramName">Nama Program</label>
                            <select class="form-control" id="inputProgramName" oninput="programValidation()">
                                {% for program in donation_program %}
                                    <option>{{ program.program_name}}</option>
                                {% endfor %} 
                            </select>
                            <div id="invalid-program"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputDonaturName">Nama Lengkap</label>
                            <input type="text" class="form-control" id="inputDonaturName" placeholder="Masukkan nama lengkap anda.."  oninput="nameValidation()">
                            <div id="invalid-name"></div>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="isHidden">
                            <label class="form-check-label" for="isHidden">Sembunyikan nama saya</label>
                        </div>
                        <div class="form-group">
                            <label for="staticEmail">Email</label>
                            <input class="form-control" type="text" placeholder="{{ user.email }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="inputDonationTotal">Jumlah Donasi</label>
                            <input class="form-control" type="number" id="inputDonationTotal" min="1" max="1000000000"  oninput="numberValidation()">
                            <div id="invalid-total"></div>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block login-button disabled" id="submit" type ="submit">Kirim Donasi</button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}