{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">


<div class="container">
			<div class="row main">
				<div class="main-login main-center bg-primary">
                    <h5>Bergabunglah bersama kami.</h5>
					<form id="form" method="POST" action="{%url 'register_post' %}">
						{% csrf_token %}
                        {{ register_form }}
                        <div id="my-signin2"></div>
                        <script language='javascript' type='text/javascript'>
          function check(input) {
              if (input.value != document.getElementById('id_password').value) {
                  input.setCustomValidity('Password harus sama.');
              } else {
                  // input is valid -- reset the error message
                  input.setCustomValidity('');
              }
          }
        </script>

				<button id = "button" type="submit" name="daftar" class="btn btn-primary btn-lg btn-block login-button">Daftar</button>						
					</form>
				</div>
			</div>
		</div>

<script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
  </script>

  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>


{% endblock %}