{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}

        <div class="container-fluid">
            <div class="border border-0 card m-2 p-3 bg-primary text-white">
                <h1 class="display-3">Profil Perusahaan</h4>
                <p>
                    PT. SinarPerak adalah organisasi non-profit yang memiliki tujuan untuk membuka platform donasi yang mudah digunakan untuk masyarakat agar orang-orang yang membutuhkan dapat menerima bantuan.
                </p>
            </div>
        </div>

        <br>
        <div class="container-fluid">
            <div class="border border-0 card m-2 p-3 bg-primary text-white">
                <h1 class="display-4">Testimoni perusahaan</h4>
            </div>	
        </div>

        <div class="testimoni-body container-fluid listtestimoni">
            {% for data in testimony %}
            <div class="border border-0 card m-2 p-3 bg-primary text-white">
                <p class="text-justify">{{data.testimoni_konten}}</p>
                <h5 class="text-right">- {{data.testimoni_name}}</h5>
            </div>
            {% endfor %}
        </div>  

        {% if user.is_authenticated %} 
        <br>
        <div class="container-fluid">
            <div class="border border-0 card m-2 p-3 bg-primary text-white">
                <h1 class="display-4">Tambahkan testimoni anda</h4>
            </div>	
        </div>

        <div class="testimoni-body container-fluid">
            <form method="POST"> {% csrf_token %}
            <div class="border border-0 card m-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Masukkan nama anda.. (Kosongkan jika anda ingin menjadi anonymous)" id="penulis-testimoni">
                </div>
                <div class="input-group">
                    <textarea class="form-control" placeholder="Masukkan testimoni anda.." id="konten-testimoni"></textarea>
                </div>
            </div>
            </form>
            <div class="border border-0 card m-2">
                <div class="input-group-append">
                    <button class="btn btn-primary btn-block" id="button-addon2">Submit</button>
                </div>
                <div id="empty-testimoni"></div>
            </div>	
        </div>  
        {% endif %}

<script type="text/javascript">
// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
    
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
    
$(document).ready(function(){
    $("#button-addon2").click(function(){
        console.log("a")
      $.ajax({
        method: "POST",
        data: { name: $("#penulis-testimoni").val(),
                testimoni: $("#konten-testimoni").val(),
                csrdmiddlewaretoken: csrftoken,
        },
        url : "/about/new_testimoni/",
        dataType : "json",
        success : function (testimoni) {
          var container_testi = "<div class='border border-0 card m-2 p-3 bg-primary text-white'>";
          container_testi = container_testi + "<p class='text-justify'>" + testimoni[testimoni.length-1].testimoni_konten + "</p>";
          container_testi = container_testi + "<h5 class='text-right'>" + "- " +  testimoni[testimoni.length-1].testimoni_name + "</h5>";
          $(".listtestimoni").append(container_testi);
        },
      });
    });
});
</script>
    	
{% endblock %}