{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}

    <center>
        <div class="greet">
            <h3>Selamat datang {{ user.first_name }} {{ user.last_name }}</h3>
            <h4>Total donasimu saat ini : {{total_donasi}}</h4>
            <h5>Berikut adalah detail donasi yang pernah kamu lakukan:</h5>
        </div>
    </center>

    <div class="container">
        <table class="table table-striped" id="donaturTable">
            <thead style="background-color: #007bff; color: white ">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama Program</th>
                    <th scope="col">Jumlah Donasi</th>
                </tr>
            </thead>

            <tbody id="add-table">
            </tbody>

        </table>
    </div>


<script type="text/javascript">

$(document).ready(function(){
    console.log("a")
    var $list = $('#add-table');
    $.ajax({
        url: '/profile/cek-history/',
        dataType: 'json',
        success: function(data){
            console.log("masuk");
            $.each(data,function(key,value){
                $list.append(
                    '<tr>'+
                        '<td>'+(key+1)+'</td>'+
                        '<td>'+value.fields.program_name+'</td>'+
                        '<td>'+value.fields.total_money+'</td>'+
                    '</tr>'
                );
            });
        }
    })
});
</script>
    	
{% endblock %}