{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" class="gr__getbootstrap_com">

<head>
    <meta charset="utf-8" />
    <title>KumpulDonasi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="751664014924-tf1iclcut50042rufrgl88jemndm60rq.apps.googleusercontent.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
    
<body>
    <header>
      {% include 'partials/header.html' %}
    </header>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators mb-1">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item">
          <img class="d-block w-100" src="https://files.catbox.moe/2juuih.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption text-left pt-0 pb-1">
              <h1 class="mb-0">KumpulDonasi</h1>
              <p>Buatlah perubahan bersama kami</p>
              <p class ="mb-1"><a class="btn btn-primary" href="{% url 'donation_form' %}" role="button">Sumbang</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item active">
          <img class="d-block w-100" src="https://files.catbox.moe/1lk3y8.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption pt-0 pb-1">
              <h1 class="mb-0">Daftar Program</h1>
              <p>Sambungkan kebaikan bersama kami</p>
              <p class ="mb-1"><a class="btn btn-primary" href="{% url 'dashboard' %}" role="button">Telusuri</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://files.catbox.moe/pp4nu6.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption text-right pt-0 pb-1">
              <h1 class="mb-0">Daftar Berita</h1>
              <p>Cari tahu kondisi sekitar anda</p>
              <p class ="mb-1"><a class="btn btn-primary" href="{% url 'news:news' %}" role="button">Telusuri</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    {% block content %}
    {% endblock %}
    

    <footer class="footer container-liquid m-auto">
      {% block footer %}
      {% include 'partials/footer.html' %}
      {% endblock %}
    </footer>
    
     <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="{% static 'js/donation.js' %}"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
