{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
		{% if donasi %}
			<div class="container-fluid">
				<div class="border-0 card bg-light m-2 p-3">
					<h4 class="text-center"> Total Donasi yang Terkumpul : </h4>
					<article class="text-center"> {{ total }} </article>
				</div>
			</div>    
		{% else %}
		    <div class="container-fluid">
				<div class="border border-0 card m-2">
					<h4 class="text-center"> Total Donasi yang Terkumpul : </h4>
					<article class="text-center"> 0 </article>
				</div>
			</div>    
		{% endif %}


		{% if glob %}
			<div class="container-fluid">
	    		<div class="border border-0 card m-2">
		    		<div class="card-body bg-primary">
		    			<h2 class="text-white">{{ glob.program_name }}</h2>
		    			<p class="text-justify">{{ glob.description }}</p>
						<div class="border-0 card card-block bg-white">
							<article class="text-center">
								Donasi Terkumpul :
							</article>
							<article class="text-center">
								{{ glob.get_all_donation }}
							</article>
						</div>
		    		</div>
		    	</div>	
	    	</div>  

		{% else %}
		    <div class="container-fluid">
	    		<div class="border border-0 card m-2">
		    		<div class="card-body bg-primary">
		    			<h2 class="text-white">Tidak Ada Donasi</h2>
						<div class="border-0 card card-block bg-white">
							<article class="text-center">
								Donasi Terkumpul :
							</article>
							<article class="text-center">
								0
							</article>
						</div>
		    		</div>
		    	</div>	
	    	</div>    
		{% endif %}
     
    	
    	
    	{% if donasi %}
    		{% for program in donasi %}
	    		<div class="container-fluid">
		    		<div class="border border-0 card m-2">
			    		<div class="card-body bg-light">
			    			<div class="row">
			    				<div class ="col-sm-4">
				    				<img class="img-fluid text-left" src="{{ program.photo }}">
				    			</div>

				    			<div class="col-sm-8">
				    				<a href="{% url 'dashboard:detail' program.pk %}">
				    					<h2 class="text-justify">{{ program.program_name}}</h2> 	
				    				</a>
				    				
				    				
				    				
				    				<p class="text-justify">{{ program.summary}}</p>
				    				
				    				<br>
				    				<div class="row mt-1">
				    					<div class="col-sm">
				    						<div class="border-0 card bg-white">
				    							<article class="text-center">
				    								Donasi Terkumpul :
				    							</article>
				    							<article class="text-center">
				    								{{ program.get_all_donation }}
				    							</article>
				    						</div>
				    					</div>

				    					<div class="col-sm text-center ">
				    						{% if user.is_authenticated %}
				    							<a href="/donation_form/">
					    							<button class="border-0 btn-block bg-warning btn-lg">
					    									Salurkan Donasi	
						    						</button>
					    						</a> 
					    					{% else %}
					    						<button type="button" class="border-0 btn-block bg-warning btn-lg" data-toggle="modal" data-target="#myModal">Salurkan Donasi</button>

					    						<!-- Modal -->
												<div class="modal fade" id="myModal" role="dialog">
													<div class="modal-dialog">

													  <!-- Modal content-->
													  <div class="modal-content">
													    <div class="modal-header">
													      <button type="button" class="close" data-dismiss="modal">&times;</button>
													      
													    </div>
													    <div class="modal-body">
													      <p>Tolong log-in terlebih dahulu</p>
													    </div>
													    <div class="modal-footer">
													    	<a href="{% url 'social:begin' 'google-oauth2' %}">
								    							<button class="border-0 btn btn-primary btn-block">
								    								LogIn with Google	
									    						</button>
								    						</a>   


													    </div>
													  </div>
													  
													</div>
												</div>
					    				     
				    						{% endif %}
				    						
				    						
				    					</div>
				    				</div>
				    			</div>
			    			</div>    			
			    		</div>
			    	</div>
		    	</div>
	    	{% endfor %}  
    	
    	{% else %}
    		<div class="container-fluid">
	    		<div class="border border-0 card m-2">
		    		<div class="card-body bg-light">
		    			<h2 class="text-center">Tidak Ada Donasi</h2>>
		    			
		    		</div>
		    	</div>
	    	</div> 	
		{% endif %}	

		
    	
{% endblock %}