{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
 
		<div class="container-fluid">
			<div class="border border-0 card m-2">
	    		<div class="card-body bg-primary">
	    			<h2 class="text-white">{{ prog.program_name }}</h2>
	    			<p class="text-justify">{{ prog.description}} </p>
	    		</div>
	    	</div>
	    </div>

		<div class="container-fluid">
			<div class="row">
	    		<div class="col-sm m-2">
	    			<div class="border-0 card bg-light">
						<article class="text-center">
							Donasi Terkumpul :
						</article>
		
						<article class="text-center">
							{{ prog.get_all_donation}}
						</article>
					</div>
	    		</div>

	    		<div class="col-sm m-2">
	    			<a href="/donation_form/">
						<button class="border-0 card btn-block bg-warning btn-lg ">
	   						<span class="text-center align-middle">
								Salurkan Donasi
							</span>
						</button>
					</a>
	    		</div>
	    	</div>
	    </div>
		
			
		
		<div class="container-fluid">
			<div class="border border-0 card bg-light m-2">
	    		<h2 class="p-2 text-primary">Daftar Donasi</h2>
	    			{% for i in prog_sel %}
	    				<div class="border-0 card m-2">
			    			<div class="p-3">
			    				{% if i.donatur_showable %}
			    					<h3>{{ i.donatur_name }}</h3>
									<span>{{ i.total_money }}</span>   
			    				{% else %}
			    				    <h3>Hamba Allah</h3>
									<span>{{ i.total_money }}</span>
			    				{% endif %}
			    					
			    			</div>
						</div>
	    			{% endfor %}
	    	</div>
		</div>
	    	
{% endblock %}