{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
	
		<div style="text-align: center;">
			<img src="{{ data.photo }}">
		</div>

		<div class="container-fluid">
			<div class="border border-0 card m-4">
				<div class="card-body bg-primary">
					<h2 class="text-left text-white">{{ news_data.news_name }}</h2>
					<p>{{ news_data.description }}</p>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="border border-0 card">
				<div class="card-body bg-secondary">
					<h2 class="text-center text-light">Daftar Program Donasi</h2>
				</div>
			</div>
		</div>

		{% for data in news_data.program.all %}
    		<div class="container-fluid">
	    		<div class="border border-0 card m-2">
		    		<div class="card-body bg-light">
		    			<div class="row">
		    				<div class ="col-sm-4">
			    				<img class="img-fluid text-left" src="{{ data.photo }}">
			    			</div>

			    			<div class="col-sm-8">
			    				<a href="{% url 'dashboard:detail' data.pk %}">
			    					<h2 class="text-justify">{{data.program_name}}</h2> 	
			    				</a>
			    				
			    				<p>{{ data.summary}}</p>
			    				
			    				<br>
			    				<div class="row mt-1">
			    					<div class="col-sm">
			    						<div class="border-0 card bg-white">
			    							<article class="text-center">
			    								Donasi Terkumpul :
			    							</article>
			    							<article class="text-center">
			    								{{ data.get_all_donation }}
			    							</article>
			    						</div>
			    					</div>

			    					<div class="col-sm ">
			    						<a href="/donation_form/">
			    							<button class="border-0 card btn-block bg-warning btn-lg">
				    						<!-- 	<span class="text-center align-middle"> -->
													Salurkan Donasi
												<!-- </span> -->
				    						</button>
			    						</a>
			    						
			    					</div>
			    				</div>
			    			</div>
		    			</div>    			
		    		</div>
		    	</div>
	    	</div>
    	{% endfor %}

	
{% endblock %}