{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
	{% if news_data_all %}
		<div class="container-fluid">
			<div class="row">
				{% for data in news_data_all %}
				<div class="col-lg-6">
					<div class="border border-0 card m-4">
						<div class="card-body bg-light">
							<a href="{% url 'news:detailnews' data.pk %}">
			    				<h2 class="text-justify">{{ data.news_name }}</h2>
			    			</a>
							<div class="row">
								<div class ="col-sm-6">
									<img class="img-fluid text-left" src="{{ data.photo }}">
								</div>

								<div class="col-sm-6">
									<p>{{ data.summary }}</p>
									<a href="{% url 'news:detailnews' data.pk %}">
										<article class="text-right">Selengkapnya ></article>
									</a>
								</div>
							</div>       
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	{% else %}
		<br>
		<h1 class="text-main" style="text-align: center;">--Tidak Ada Berita--</h1>
	{% endif %}
{% endblock %}